@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Roboto', sans-serif;
}
.rltb-0{
    @apply right-0 bottom-0 top-0 left-0;
  }
.m-rltb-auto{
  @apply mt-auto ml-auto mb-auto mr-auto;
}
.swiper {
  width: 600px;
  height: 300px;
}

.content{
  @apply my-7;
}